<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

  
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>

<h2>Pets</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Max Weight</th>
      <th>Max Height</th>
    </tr>
  </thead>
  <tbody>
  <% @client.pets.each do |pet|%>
    <tr> 
    <td> <%= pet.name %> </td> 
    <td><%= pet.maxHeight %></td> 
    <td><%= pet.maxWeight %></td> 
    </tr>
  <% end %>
  </tbody>
  </table>